{% if k3s_backup_discord_webhook_enabled | bool %}
DISCORD_WEBHOOK_URL={{ vault_alertmanager_discord_webhook_url }}
{% endif %}
{% if k3s_backup_healthcheck_enabled | bool %}
HEALTHCHECK_URL={{ vault_k3s_backup_healthcheck_url }}
{% endif %}
